@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url("./../../../fonts/"+ $file-name + ".eot");
    src: url("./../../../fonts/"+ $file-name + ".eot?#iefix") format("embedded-opentype"), url("./../../../fonts/"+ $file-name + ".woff") format("woff"), url("./../../../fonts/"+ $file-name + ".ttf") format("truetype"), url("./../../../fonts/"+ $file-name + ".svg##{$font-name}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}
